.home-page{
padding-bottom:100px;
}

.top-header{
background:#0f172a;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

.wallet-box{
background:#2563eb;
padding:12px 20px;
border-radius:18px;
font-weight:700;
}

.banner-slider{
padding:20px;
}

.banner-card{
height:160px;
border-radius:25px;
background:linear-gradient(
135deg,
#2563eb,
#1e3a8a
);
color:white;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
font-weight:700;
}

.section-title{
padding:20px;
font-size:22px;
font-weight:700;
}

.share-card{
background:white;
margin:0 20px 20px;
padding:20px;
border-radius:25px;
box-shadow:
0 8px 30px rgba(0,0,0,.08);

display:flex;
justify-content:space-between;
align-items:center;
}

.share-card button{
background:#16a34a;
color:white;
padding:12px 22px;
border-radius:14px;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
background:white;
padding:15px;
display:flex;
justify-content:space-around;
box-shadow:
0 -5px 30px rgba(0,0,0,.08);
}
