<div class="auth-container">

<div class="logo">
  Bharat Share's
</div>

<div class="card">

<h2>Create Account</h2>

<input
id="regMobile"
placeholder="Mobile Number">

<input
id="regPassword"
type="password"
placeholder="Password">

<input
id="regConfirm"
type="password"
placeholder="Confirm Password">

<input
id="referralCode"
placeholder="Referral Code (Optional)">

<button id="registerBtn">
Create Account
</button>

<p>
Already have account?
<a onclick="loadPage('login')">
Login
</a>
</p>

<p id="regMsg"></p>

</div>

</div>
